* {margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
background: var(--fondo);
font-family:'open sans', sans-serif;

}

:root{
--rojo: #8B008B;
--fondo: #141414;


}

.conten {
width: 75%;
margin: auto;


}
header{
padding: 30px;

}

header .conten {
display: flex;
justify-content: space-between;
align-items: center;

}

header .logos {
 font-family: 'Bebas Neue', cursive;
font-weight: normal ;
color: var(--rojo);
font-size: 40px;
}

header nav a{
    color: darkgray;
    text-decoration:solid;
margin-right: 20px;
}

header nav a:hover ,
header nav a.activo
{
color:#2ad1bb ;
} 

/*----- ---- ---- pelicula principal ---- ----- ----- */
.pelicula-p {

    font-size: 12px;
    min-height: 40.62em;
  

    color: white;
    background: url(11.jpg);
background-position: center center;
background-size: cover;
margin-bottom: 3.12em;
display: flex;
align-items: flex-end;

}

.pelicula-p .conten {

    margin: 0% auto;
    margin-bottom: 6.25em;
}

.pelicula-p .titulo {
    font-size: 3.12em ;
    font-weight: 600;
margin-bottom: 0.4em;

} 

.pelicula-p .detel {
font-weight:normal ;
font-size: 1em;
line-height: 1.75em;
max-width: 50%;
margin-bottom: 1.25em;


}

.pelicula-p .boton {
background: rgba(0, 0, 0, 0.5);
border-radius: 0.31em ;
border:none ;
color: #fff;
padding: 0.91em 1.87em;
margin-right: 1.25em;
cursor: pointer;
transition: .3s ease all;
font-size: 1.12em;

}

.pelicula-p .boton:hover {
background: #fff;
color: #000;

}

.pelicula-p .boton i { 

    margin-right: 1.25em;
}